<ul class="nav nav-tabs" id="tabsHeader" role="tablist">
    <li class="nav-item" role="presentation"  *ngFor="let item of announcements; let i = index">
        <button [class]="'nav-link ' + ((i===0) ? 'active': '')" [id]="'btn-' + item.ID" 
            data-bs-toggle="tab" [attr.data-bs-target]="'#tab-' + item.ID" type="button" role="tab" 
            [attr.aria-controls]="'#tab-' + item.ID" aria-selected="true">
            <i class="bi bi-newspaper"></i> {{item.Title}}
        </button>
    </li>
</ul>
<div class="tab-content" id="tabsContent">
    <div [class]="'tab-pane fade show p-2 ' + ((i===0) ? 'active': '')" [id]="'tab-' + item.ID" 
        role="tabpanel" [attr.aria-labelledby]="'btn-' + item.ID" *ngFor="let item of announcements; let i = index">
        <div [innerHTML]="item.Body"></div>
    </div>
</div>

